@model WebComputerVision.Models.ImageResult

@{
    ViewData["Title"] = "Result of image analysis";
}

<div class="text-center">
    <h1 class="display-4">Result of image analysis</h1>
    <p>Text extracted from your image:</p>
    <pre>@Model.Text</pre>
</div>

